@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .btn {
    @apply bg-[#D9D9D9] py-2 px-3 rounded-md
  }
}